body {
    font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
    background-color: white;
    font-size: 10pt;
}
h3 {
    font-size: 16pt;
}
h1,h2,h3,h4,h5,h6 {
    color: green;
}
hr {
    color: #bbccaa;
}
p {
    font-size: 10pt;
}
tr {
    vertical-align: top;
}
th {
    font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
    font-size: 10pt;
    padding: 4px;
    background-color: #bbccaa;
}
td {
    font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
    font-size: 10pt;
    padding: 4px;
    background-color: #eeffdd;
}
a {
    font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
    color: green;
    text-decoration: none;
}
a:hover {
    color: black;
}
.code {
    font-family: Terminal, Fixedsys, monospace;
}
